<h2>{{name}}</h2>
<p>{{name}} was discovered in {{year-discovered}}.
The mass of {{name}} is {{mass}}.
The radius of {{name}} is {{size}}.
{{name}} is {{distance-from-sun}} from the sun.
The atmosphere of {{name}} is made up of {{#each atmosphere-composition}}
        {{#unless @last}}
            {{this}},
        {{/unless}}
        {{#if @last}}
        and {{this}}.{{/if}}
        {{/each}}
{{name}} has {{moons}} moons.
{{name}} has been expolored by {{#each explorers}}

    {{#unless @last}}
    {{this}},
    {{/unless}}
    {{#if @last}}
    and {{this}}.
    {{/if}}
    {{/each}}
</p>

